.login {
  margin-top: 10%;
  margin-left: 37%;
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 25px;
  text-align: center;
}
.a {
  color: #267871;
}
.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #267871;
}
.tabs .tab a {
  color: #267871;
}

.tabs .indicator {
  background-color: #000 !important;
}
